@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #c1c1c1;
    background: #121316;
}

#root {
    min-height: 100vh;
    width: 100%;
}

.textColor {
    color: rgb(193, 193, 193);
}

.searchbar {
    height: 35px !important;
}

.MuiListItemIcon-root {
    min-width: 30px !important;
}

.MuiListItemButton-root:hover,
.MuiListItemButton-gutters:hover,
.MuiListItemButton-root:hover,
.MuiListItemButton-gutters:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}
