@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    font-size: 1.8rem;
    line-height: 2.4rem;
    box-sizing: border-box;
    background-color: black;
    font-family: "Graphie", sans-serif;
}

@font-face {
    font-family: "Graphie";
    src: url("/fonts/100-graphie.woff2") format("woff2"),
        url("/fonts/100-graphie.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Graphie";
    src: url("/fonts/200-graphie.woff2") format("woff2"),
        url("/fonts/200-graphie.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Graphie";
    src: url("/fonts/300-graphie.woff2") format("woff2"),
        url("/fonts/300-graphie.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Graphie";
    src: url("/fonts/400-graphie.woff2") format("woff2"),
        url("/fonts/400-graphie.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Graphie";
    src: url("/fonts/500-graphie.woff2") format("woff2"),
        url("/fonts/500-graphie.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Graphie";
    src: url("/fonts/600-graphie.woff2") format("woff2"),
        url("/fonts/600-graphie.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Graphie";
    src: url("/fonts/700-graphie.woff2") format("woff2"),
        url("/fonts/700-graphie.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Graphie";
    src: url("/fonts/800-graphie.woff2") format("woff2"),
        url("/fonts/800-graphie.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

.items {
    overflow-x: scroll;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.item {
    display: inline-block;
}
.hero_title {
    font-size: clamp;
}

.borderTop {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.MuiAppBar-root {
    max-width: 1550px !important;
    max-height: 40px !important;
    top: 100px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.MuiBox-root,
.css-dd960 {
    height: 40px !important;
}

@media only screen and (min-width: 1200px) {
    .MuiAppBar-root {
        max-width: 1350px !important;
    }
}

@media only screen and (min-width: 1500px) {
    .MuiAppBar-root {
        max-width: 1550px !important;
    }
}
