@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    font-size: 1.8rem;
    line-height: 2.4rem;
    box-sizing: border-box;
}

@layer base {
    html {
        font-family: graphie, Proxima Nova, system-ui, sans-serif;
    }
}

.items {
    overflow-x: scroll;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
}

.items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.item {
    display: inline-block;
}
.hero_title {
    font-size: clamp;
}
