@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    min-height: 100vh;
}
#__next {
    min-height: 100vh;
}
body {
    background: radial-gradient(
            92.46% 66.11% at 50% 33.89%,
            #001743 0%,
            rgba(0, 23, 67, 0.2) 70.4%
        )
        fixed;
}

:root {
    --primaryText: #86a1d8;
    --secondaryText: #f4f4f9;
    --borderLine: 0.1px solid #86a1d8;
    --pagination: #081f4b;
}

.textColor1 {
    color: var(--primaryText);
}
.textColor2 {
    color: var(--secondaryText);
}
.borderTop {
    border-top: 0.5px solid rgba(134, 161, 216, 0.3);
}
.borderLeft {
    border-left: 0.5px solid rgba(134, 161, 216, 0.3);
}
.borderBottom {
    border-bottom: 0.5px solid rgba(134, 161, 216, 0.3);
}
.border {
    border: 0.5px solid rgba(134, 161, 216, 0.3);
}

.MuiPagination-root,
.MuiPagination-text,
.css-10qm1g8-MuiPagination-root {
    border: 0.1px solid #86a1d8;
}

.MuiPaginationItem-root,
.MuiPaginationItem-sizeMedium,
.MuiPaginationItem-text {
    color: "white";
}
.Mui-selected {
    background: #081f4b !important;
}
.appBar {
    backdrop-filter: blur(24px);
    background: rgba(0, 0, 0, 0.5);
}

.ql-container {
    min-height: 300px;
}
.ql-syntax {
    background: rgb(35, 36, 31);
    color: rgb(248, 248, 242);
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    font-size: 13px;
    word-break: break-all;
    white-space: pre-wrap;
}

.MuiSvgIcon-root,
.MuiSvgIcon-fontSizeInherit,
.css-1vooibu-MuiSvgIcon-root {
    color: white;
}

.my-custom-app-bar .MuiAppBar-root {
    max-width: 1550px !important;
    max-height: 40px !important;
    top: 40px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent !important;
}

.MuiDialog-paper {
    background-color: transparent !important;
}

@media only screen and (min-width: 1200px) {
    .my-custom-app-bar .MuiAppBar-root {
        max-width: 1350px !important;
    }
}

@media only screen and (min-width: 1500px) {
    .my-custom-app-bar .MuiAppBar-root {
        max-width: 1550px !important;
    }
}

/* LOST IN BUILD PROCESS */
/* .MuiPaginationItem-text, .MuiPaginationItem-textSecondary {
    color: #F4F4F9;
} */
