@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #c1c1c1;
}

#root {
    min-height: 100vh;
    width: 100%;
}
