@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #c1c1c1;
    background: #121316;
}

#root {
    min-height: 100vh;
    width: 100%;
}

.MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-elevation16,
.MuiDrawer-paper,
.MuiDrawer-paperAnchorLeft,
.css-f0ij77-MuiPaper-root-MuiDrawer-paper {
    top: 70px !important;
}

.ForwardRef-root-1 {
    height: 35px !important;
}
